<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Document</title>
</head>
<body>
	<p>{{ message }}</p>
	<form action="/post_request" name="party" method="post">
	<table border="1">
		<tr><td><input type="text" name="pokemon1"></td></tr>
		<tr><td><input type="text" name="pokemon2"></td></tr>
		<tr><td><input type="text" name="pokemon3"></td></tr>
		<tr><td><input type="text" name="pokemon4"></td></tr>
		<tr><td><input type="text" name="pokemon5"></td></tr>
		<tr><td><input type="text" name="pokemon6"></td></tr>
		<tr><td><input type="submit" name="btn1" value="送信"></td></tr>
		</table>
	</form>	
</body>
</html>
